 body{
     background-color: #121212 !important;
 }
 header{
     background-color: #a5a4a4 !important;
 }
 footer{
    background-color: #272727 !important;
    height: 50px;
 }
 
 #AllRightsReserved{
     text-align: center;
 }
 .navbar {
    background: red !important;
}
p{
    color: black!important;
}

.boiler{
    background-color: #000000 !important;
}

.spacer{
    margin-bottom: 20px;
}
